<div class="material-symbols-outlined d-flex">
  <nav class="navbar fixed-bottom navbar-light border-top justify-content-center">
    <button class="unpress">skip_previous</button>
    <button class="unpress">play_arrow</button>
    <!-- <button class="unpress">pause</button> -->
    <button class="unpress">skip_next</button>

    <!-- not showing -->
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-label="Basic example" aria-valuenow="50" aria-valuemin="0"
        aria-valuemax="100"></div>
    </div>
    <!-- <button class="unpress">volume_off</button> -->
    <button class="unpress">volume_up</button>
  </nav>
</div>