.navbar-light {
    background-color: #f2f2f2;
    border: 1cm;
}

.unpress {
    border: none;
    padding: 0;
    background: none;
    margin-right: 18px;
    outline: none;
}

.vertical {
    display: inline;
}

.volume {
    display: inline-block;
    position: relative;
}

.duration {
    width: 550px;
    height: 10px;
}

.text {
    margin-left: 5px;
}

/* Custom CSS to reverse dropdown positioning for dropup */
.dropup .dropdown-menu {
    bottom: 100%;
    top: auto;
}

.custom-dropdown-menu {
    right: auto;
    /* Reset the right property */
    left: -300px;
    /* Move the dropdown to the left */
}