.navbar-light {
    background-color: #f2f2f2;
    border: 1cm;
}

.unpress {
    border: none;
    padding: 0;
    background: none;
    margin-right: 18px;
}

.progress{
    height: 5px;
    z-index: 1000;
}
.progress-bar {
    height: 100%;
    width: 50%;
    background-color: #f50;
    transition: width 0.3s ease-in-out;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }