<nav class="navbar fixed-bottom navbar-light border-top justify-content-center">
  <div class="material-symbols-outlined d-flex">
    <button class="unpress" (click)="prev()">skip_previous</button>
    <button class="unpress" (click)="play()">{{audio.paused ? 'play_arrow' : 'pause'}}</button>
    <button class="unpress" (click)="next()">skip_next</button>
  </div>
  <div style="display: inline; margin-right: 10px;">{{currentTime}}</div>
  <input type="range" class="form-range duration" (input)="durationSlider($event)" value="{{audio.readyState === 0 ? 0 : audio.currentTime}}" min="0" max="{{duration}}">
  <div style="display: inline; margin-left: 10px;">{{musicLength}}</div>
  <div class="material-symbols-outlined d-flex">
    <!-- <button class="unpress">volume_off</button> -->
    <div class="volume">
      <button class="unpress ml-4">volume_up</button>
      <div class="form-group vertical">
        <input type="range" class="form-range" (input)="volumeSlider($event)" [value]="audio.volume * 100" max="100" step="1">
      </div>
    </div>
  </div>
  <div class="d-flex" style="margin-left: 1%;"> <img src="{{song.img}}" alt="damn" width="30px" height="30px"></div>
  <div class="d-flex text"> <small>{{song.namesong}} - {{song.nameart}}</small></div>
</nav>