<nav class="navbar fixed-bottom navbar-light border-top justify-content-center">
  <div class="material-symbols-outlined d-flex">
    <button class="unpress">skip_previous</button>
    <button class="unpress" (click)="play()">{{audio.paused ? 'play_arrow' : 'pause'}}</button>
    <button class="unpress">skip_next</button>
  </div>
  00
  <input type="range" class="form-range duration">

  <div class="material-symbols-outlined d-flex">
    <!-- <button class="unpress">volume_off</button> -->
    <div class="volume">
      <button (mouseenter)="showRangeInput = true" (mouseleave)="showRangeInput = false"
        class="unpress">volume_up</button>
      <div *ngIf="showRangeInput" class="form-group">
        <input type="range" class="form-range vertical">
      </div>
    </div>
  </div>
</nav>