.navbar-light {
    background-color: #f2f2f2;
    border: 1cm;
}

.unpress {
    border: none;
    padding: 0;
    background: none;
    margin-right: 18px;
    outline: none;
}

.vertical {
    display: inline;
}

.volume {
    display: inline-block;
    position: relative;
}

.duration[type="range"] {
    width: 550px;
    height: 10px;
    background-color: #f50 !important;
}

.text{
    margin-left: 5px;
    margin-top: -1.3%;
}
.finalfix{
    margin-left: -10%;
    margin-bottom: -100%;
}