.unpress {
    border: none;
    padding: 0;
    background: none;
    margin-right: 18px;
}

.top {
    margin-top: 10%;
    margin-bottom: 5%;
}

.fixfooter {
    margin-bottom: 50%;
}

.fillfav {
    font-variation-settings:
        'FILL' 1;
    color: #f50
}