<h1 class="text-center top">Welcome to your library!
    <div class="material-symbols-outlined player">
        <button class="unpress fillfav" (click)="player(); $event.preventDefault(); false;">play_circle</button>
    </div>
</h1>
<hr>
<div class="row card-group fixfooter" style="margin-top: 5%;">
    <!-- Fetch all the albums  -->
    <div class="col-3 mb-5" *ngFor="let like of likes">
        <div class="card w-75 border-0" style="background-color: #f2f2f2;">
            <a routerLink="/song/{{like.id}}" id="{{like.id}}">
                <img class="card-img-top" src="{{like.img}}" alt="Card image cap">
                <div class="card-img-overlay ">
                    <div class="card-title ">
                        <form style="display: inline" (click)="deletesong($event,like.id); $event.preventDefault();">
                            <button class="unpress" type="submit">
                                <span class="material-symbols-outlined fillfav">
                                    favorite
                                </span></button>
                        </form>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title fixleft">{{like.namesong}}</h5>
                </div>
            </a>
        </div>
    </div>
</div>