<!-- da togliere -->

<!-- <div class="progress">
    <div class="progress-bar" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0"
        aria-valuemax="100"></div>
</div> -->
<div class="card bg-dark text-white" style="margin-top: 2%">
  <img
    class="card-img"
    src="assets/img/w.jpg"
    style="opacity: 0.45"
    alt="Card image"
  />
  <div class="card-img-overlay text-center">
    <img src="assets/img/soundcloud-xxl.png" style="margin-top: -2%" alt="" />
    <h1 class="card-title" style="color: #f50; margin-top: -5%">
      <b>Welcome to SoundClaudio</b>
    </h1>
    <h5 class="card-text" style="margin-top: 5%">
      SoundClaudio is a versatile online music player <br />
      offering a wide range of songs and albums for users to enjoy,
      <br />complete with customizable features and an intuitive user interface.
    </h5>
  </div>
</div>
<div class="row" style="margin-top: 5%;">
    <div class="col-sm-4">
        <div class="card" style="width: 50%;">
            <img class="card-img-top" src="assets/img/3x.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text"></p>
                <a class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card" style="width: 50%;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text"></p>
                <a class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>