<nav class="navbar fixed-top navbar-expand-lg navbar-light justify-content-center">
  <div class="content">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-brand text-light">
        <img src="assets/img/soundcloud-xxl.png" width="35" height="35" class="d-inline-block align-top" alt="img">
        SoundClaudio
      </div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link text-light " routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light " routerLink="discovery">Discovery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  text-light" routerLink="/library">Library</a>
        </li>
      </ul>
      <li class="nav-item" *ngIf="!auth==true">
        <button type="button" class="btn btn-dark btn-sm" routerLink="/login">Login</button>
      </li>
      <li class="nav-item" *ngIf="!auth==true">
        <button id="button1" type="button" class="btn btn-sm" routerLink="/signup">Sign Up</button>
      </li>
      <li class="nav-item">
        <button id="carica" type="button" class="btn btn-outline-dark btn-sm" routerLink="/carica">Upload</button>
      </li>
      <li class="nav-item">
        <!-- Show if logged -->
        <div class="dropdown" *ngIf="auth==true">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{user.name}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </div>
      </li>
    </div>
  </div>
</nav>