<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #212529;">
    <div class="collapse navbar-collapse justify-content-center">
        <a class="navbar-brand" style="color: white;">Admin Section Menu</a>
        <div class="navbar-nav">
            <a (click)="getall()" class="nav-item nav-link active mouse">Users</a>
            <a (click)="getallalbums()" class="nav-item nav-link active mouse">All the Albums</a>
            <a (click)="getallsongs()" class="nav-item nav-link active mouse">All the Songs</a>
        </div>
    </div>
</nav>
<!-- Table for users -->
<table class="table" *ngIf="flaguser" style="margin-top: 3%;">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <th scope="col">Admin</th>
            <th scope="col">Promote</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <th scope="row">{{user.id}}</th>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.password}}</td>
            <td>{{user.admin ? 'Si' : 'No'}}</td>
            <td (click)="promote(user.id)"><button type="button" class="btn btn-success"
                    *ngIf="!user.admin">Promote</button></td>
            <td (click)="delete(user.id)"><button type="button" class="btn btn-danger">Delete</button></td>
        </tr>
    </tbody>
</table>

<table class="table" *ngIf="flagalbum" style="margin-top: 3%;">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Album name</th>
            <th scope="col">Artist name</th>
            <th scope="col">Cover</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let album of albums">
            <th scope="row">{{album.id}}</th>
            <td>{{album.namealb}}</td>
            <td>{{album.name}}</td>
            <td><img src="{{album.img}}" alt="cover" width="200px" height="200px"></td>
            <td (click)="deletealbums(album.id)"><button type="button" class="btn btn-danger">Delete</button></td>
        </tr>
    </tbody>
</table>

<table class="table" *ngIf="flagsong" style="margin-top: 3%;">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Song name</th>
            <th scope="col">Album name</th>
            <th scope="col">Artist name</th>
            <th scope="col">Cover</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let song of songs">
            <th scope="row">{{song.id}}</th>
            <td>{{song.name}}</td>
            <td>{{song.namealb}}</td>
            <td>{{song.nameart}}</td>
            <td><img src="{{song.img}}" alt="cover" width="100px" height="100px"></td>
            <td (click)="deletesong(song.id)"><button type="button" class="btn btn-danger">Delete</button></td>
        </tr>
    </tbody>
</table>