
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="content">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <a class="navbar-brand text-light" href="#">
      <img src="assets/img/soundcloud-xxl.png" width="35" height="35" class="d-inline-block align-top" alt="img">
      SoundClaudio
    </a>
      <ul class="navbar-nav mr-auto" >
        <li class="nav-item active">
          <a class="nav-link text-light " href="#">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link  text-light" href="#">Libreria</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <li class="nav-item ">
        <button type="button" class="btn btn-dark btn-sm">Accedi</button>
      </li>
      <li class="nav-item">
        <button id="newacc" type="button" class="btn btn-sm">Crea account</button>
      </li>
      <li class="nav-item">
        <button id="carica" type="button" class="btn btn-outline-dark btn-sm">Carica</button>
      </li>
    </div>
  </div>
</nav>