<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


<nav class="navbar navbar-expand-lg navbar-light" >
    <a class="navbar-brand text-light" href="#">
      <img src="assets/img/soundcloud-xxl.png" width="35" height="35" class="d-inline-block align-top" alt="img">
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" >
        <li class="nav-item active">
          <a class="nav-link text-light " href="#">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link  text-light" href="#">Libreria</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> -->
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <li class="nav-item ">
        <button type="button" class="btn btn-dark btn-sm">Accedi</button>
      </li>
      <li class="nav-item">
        <button id="newacc" type="button" class="btn btn-sm">Crea account</button>
      </li>
      <li class="nav-item">
        <button id="carica" type="button" class="btn btn-outline-dark btn-sm">Carica</button>
      </li>
    </div>
</nav>
  