<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
              <h3 class="mb-5">Login</h3>

              <div class="form-outline mb-4">
                <span style="color: red;" *ngIf="!loginForm.get('email')?.valid && loginForm.get('email')?.touched">
                  Incorrect format</span>
                <input type="email" class="form-control form-control-lg" formControlName="email" />
                <label class="form-label">Email</label>
              </div>

              <div class="form-outline mb-4">
                <span style="color: red;"
                  *ngIf="!loginForm.get('password')?.valid && loginForm.get('password')?.touched">
                  Incorrect, min of 7 value</span>
                <input type="password" class="form-control form-control-lg" formControlName="password" />
                <label class="form-label">Password</label>
              </div>

              <hr class="my-4">

              <button [disabled]="!loginForm.valid" class="btn btn-lg btn-block" id="button1"
                type="submit">Login</button>
            </form>
            <hr class="my-4">
            <label class="form-label">Need to create a new account?<br>Go to the sign up page!!</label>
            <button class="btn btn-dark btn-lg btn-block" routerLink="/signup">Sign Up</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>