<div class="container">
    <div class=" text-center mt-5">
        <h1>Upload song</h1>
    </div>
    <div class="row">
        <div class="col-lg-7 mx-auto">
            <div class="card mt-2 mx-auto p-4 bg-light">
                <div class="card-body bg-light">
                    <div class="container">
                        <!-- Start Form -->
                        <form id="contact-form" [formGroup]="dataForm" (ngSubmit)="send($event)" novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Title</label>
                                    <input type="text" class="form-control" formControlName="title">
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Put your mp3 here:</label>
                                        <input class="form-control" type="file" formControlName="mp3" (change)="onChange($event)">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button [disabled]="!dataForm.valid" class="btn btn-lg btn-block" id="button1"
                                        type="submit">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.8 -->
        </div>
        <!-- /.row-->
    </div>
</div>