<div class="row justify-content-between uptop" style="padding-bottom: 1%;">
    <div class="col-6" style="margin-top: 4%;">
        <h1 class="font">{{song.id}}. {{song.namesong}}</h1> <br>
        <h2 class="font">{{song.nameart}}</h2> <br>
        <h3 class="font">Inside the Album: {{song.name}}</h3>
    </div>
    <div class="col-6">
        <img style="float: right; margin-top: 3%;" src="{{song.img}}" alt="img" width="300" height="300">
    </div>
</div>


<h1 class="title">
    Comments section
    <span class="material-symbols-outlined">
        chat_bubble
    </span>
</h1>
<!-- All comment from the database using *ngFor -->
<ul class="list-group list-group-flush" id="{{comment.commentid}}" *ngFor="let comment of data">
    <li class="list-group-item" style="background-color: #f2f2f2;">
        <h6>{{comment.username}}:</h6>
        <h5>{{comment.comment}}</h5>
    </li>
</ul>
<ul class="list-group list-group-flush">
    <h3 class="title">Post your comment about this song</h3>
    <li class="list-group-item" style="background-color: #f2f2f2;">
        <form class="form-inline">
            <div class="form-group mb-2 mr-5">
                <h5>{{user.name}}</h5>
            </div>
            <div class="form-group mx-sm-3 mb-2" >
                <textarea class="form-control" placeholder="Comment" cols="32"></textarea>            
            </div>
            <button type="submit" id="button1" class="btn mb-2">Post comment</button>
        </form>
    </li>
</ul>