<!-- Footer -->
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- SoundCloud real -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://soundcloud.com/discover" role="button">
                <i class="bi bi-cloud-haze2"></i>
            </a>

            <!-- University -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.dmi.unipg.it/?page=2" role="button">
                <i class="bi bi-person-workspace"></i>
            </a>

            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/Cassio7" role="button">
                <i class="bi bi-github"></i>
            </a>
        </section>
        <!-- Section: Social media -->
        <!-- Section: Text -->
        <section class="mb-4">
            <p>
                © 2023-2024 SoundClaudio. All rights reserved. Unauthorized reproduction
                or distribution of any content on this platform is strictly prohibited.
            </p>
        </section>
        <!-- Section: Text -->
    </div>
    <!-- Grid container -->
</footer>
<!-- Footer -->