.font{
    color: white;
    margin-left: 28px;
}
.uptop{
    margin-top: -1%; 
    background-color: #c6ac8f;
}
.circle{
    margin-left: 10px;
    font-size: 121px;
}
.fixcircle{
    color: white;
    margin-left: -110px;
    font-size: 70%;
}
.unpress {
    border: none;
    padding: 0;
    background: none;
    margin-right: 18px;
}