<div class="row justify-content-between uptop">
  <div class="col-6" style="margin-top: 4%;">
    <h1 class="font">{{album.name}}</h1> <br>
    <h2 class="font">{{album.art}}</h2> <br>
    <h4 class="font">Tracks:</h4>
    <i class="bi bi-circle-fill circle">
      <span class="fixcircle">{{album.numsong}}</span>
    </i>
  </div>
  <div class="col-6">
    <img style="float: right; margin-top: 3%;" src="{{album.img}}" alt="img" width="300" height="300">
  </div>
</div>

<hr>
<div class="list-group">
  <a routerLink="/song/{{song.id}}" class="list-group-item list-group-item-action" id="{{song.id}}"
    *ngFor="let song of songs">
    <!-- To not reload the page after sending data to player -->
    <div class="material-symbols-outlined">
      <button class="unpress fillfav" (click)="player($event,song.id); $event.preventDefault(); false;">play_circle</button>
    </div>
    {{song.namesong}}
    <!-- Show this if is not in library  -->
    <form style="display: inline" (click)="likesong($event,song.id)" *ngIf="!arrayid.includes(song.id)">
      <button class="unpress" style="float: right;">
        <span class="material-symbols-outlined">
          favorite
        </span></button>
    </form>
    <!-- Show this if is in library  -->
    <form style="display: inline" (click)="deletesong($event,song.id)" *ngIf="arrayid.includes(song.id)">
      <button class="unpress" style="float: right;">
        <span class="material-symbols-outlined fillfav">
          favorite
        </span></button>
    </form>
  </a>
</div>