<div class="row justify-content-between uptop">
  <div class="col-6" style="margin-top: 4%;">
    <h2 class="font">{{name}}</h2>
    <h3 class="font">{{art}}</h3>
    <i class="bi bi-circle-fill circle">
      <span class="fixcircle">{{album.length}}</span>
    </i>
  </div>
  <div class="col-6">
    <img style="float: right;" src="{{img}}" alt="img" width="300" height="300">
  </div>
</div>

<hr>
<div class="list-group" style="background-color: #f2f2f2;">
  <li class="list-group-item" *ngFor="let song of album" id="{{song.id}}">
    {{song.namesong}}
  </li>
</div>